<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/finupp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/finupp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application">
        <activity
            android:name="com.example.FinUp.History"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Income_categories"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Graphics2"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.AddIncomes"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Category"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Options"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.More"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Graphics"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Analytics"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.Scores"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.AddExpenses"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.OperationsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.FinUp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>